/* Quiero que este inactivo hasta que haga click en agregar carrito */
.box_opacidad{
    background-color: #3F2B39;
    opacity: 0.65;
}

.bcg-blue{
    background-color: blue;
}

.cantidad_num{
    width: 40px;
}

.oculto{
    display:none;
}